.text-secondary {
    color: chocolate;
  }
  
  .h4,
  h4 {
    font-size: 1.2rem;
  }

  h2 {
    color: crimson;
  }
  
  .fa,
  .fas {
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
  }
  
  .right-0 {
    right: 0;
  }
  
  .top-0 {
    top: 0;
  }
  
  .h-100 {
    height: 100%;
  }
  
  a.text-secondary:focus,
  a.text-secondary:hover {
    text-decoration: none;
    color: #22343e;
  }
  
  #accordion .fa-plus {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  
  #accordion a[aria-expanded=true] .fa-plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  body{
	  background-image:url("https://cdn.99images.com/photos/wallpapers/animals-birds/funny-cute-animals%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-embgu.jpg");
      background-size:cover;  
	  background-attachment:fixed;
  }
  
  p{
	  background-color:pink;
  }
